<header class="fixed w-[100%] bg-header top-0 z-50 shadow-2xl border-b-2 border-d2">
    <nav class="w-[500px]  mx-auto">
        <ul class="items-center justify-between flex py-3  bg-header">
            <li><a href="#"><img src="/src/assets/photo.png" class="w-[50px] rounded-full  bg-d2 border-gray-600 border-[1px] hover:border-purple"></li></a>
            <li><a class="hover:text-purple" href="#">Sobre Mi</a></li>
            <li><a class="hover:text-purple" href="#habilidades">Habilidades</a></li>
            <li><a class="hover:text-purple" href="#estudios">Estudios</a></li>
            <li><a class="hover:text-purple" href="#proyectos">Proyectos</a></li>
        </ul>
    </nav>
</header>