<header class="">
    <nav class="w-[500px] mx-auto">
        <ul class="items-center justify-between flex py-3">
            <li><a href="#">Sobre Mi</a></li>
            <li><a href="#">Habilidades</a></li>
            <li><a href="#">Estudios</a></li>
            <li><a href="#">Proyectos</a></li>
        </ul>
    </nav>
</header>